In [10]:

from pymongo.mongo_client import MongoClient
from pymongo.server_api import ServerApi

uri = "mongodb+srv://suyash:suyash2004@cluster0.utc18.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0"

# Create a new client and connect to the server
client = MongoClient(uri, server_api=ServerApi('1'))

# Send a ping to confirm a successful connection
try:
    client.admin.command('ping')
    print("Pinged your deployment. You successfully connected to MongoDB!")
except Exception as e:
    print(e)

Pinged your deployment. You successfully connected to MongoDB!

In [11]:
database = client["tutorial"]

In [12]:
collection = database["session"]

In [13]:
data = {
    "coursename" :"Gen AI",
    "instructor" : "sunny",
    "modeofsession" : "english"
}

In [14]:
data

{'coursename': 'Gen AI', 'instructor': 'sunny', 'modeofsession': 'english'}

In [15]:
collection.insert_one(data)

InsertOneResult(ObjectId('674aedcf6f43c8e9fc85ee31'), acknowledged=True)

In [19]:
all_record = collection.find()

In [20]:
for record in all_record:
    print (record)

{'_id': ObjectId('674aedcf6f43c8e9fc85ee31'), 'coursename': 'Gen AI', 'instructor': 'sunny', 'modeofsession': 'english'}

In [24]:
collection.insert_many([{
    "coursename" :"ML",
    "instructor" : "krish",
    "modeofsession" : "english"
},
                       {
    "coursename" :"AI",
    "instructor" : "andrew",
    "modeofsession" : "english"
}])

InsertManyResult([ObjectId('674af2116f43c8e9fc85ee32'), ObjectId('674af2116f43c8e9fc85ee33')], acknowledged=True)

In [26]:
all_record = collection.find()
for record in all_record:
    print (record)

{'_id': ObjectId('674aedcf6f43c8e9fc85ee31'), 'coursename': 'Gen AI', 'instructor': 'sunny', 'modeofsession': 'english'}
{'_id': ObjectId('674af2116f43c8e9fc85ee32'), 'coursename': 'ML', 'instructor': 'krish', 'modeofsession': 'english'}
{'_id': ObjectId('674af2116f43c8e9fc85ee33'), 'coursename': 'AI', 'instructor': 'andrew', 'modeofsession': 'english'}

In [27]:
import pandas as pd
import json

In [ ]:
class mongodb_operation:

    def __init__(self,client_url: str, database_name: str, collection_name: str=None):
        self.client_url=client_url
        self.database_name=database_name
        self.collection_name=collection_name

    def create_client(self):
        client=MongoClient(self.client_url)
        return client


    def create_database(self):
        client=self.create_client()
        database=client[self.database_name]
        return database
        
    def create_collection(self,collection=None):
        database=self.create_database()
        collection=database[collection]
        return collection

    def insert_record(self,record:dict,collection_name:str):
        if type(record)==list:
            for data in record:
                if type(data)!= dict:
                    raise TypeError("record must be in the dict")
            collection=self.create_collection(collection_name)
            collection.insert_many(record)
        elif type(record)==dict:
            collection=self.create_collection(collection_name)
            collection.insert_one(record)

    def bulk_insert(self,datafile:str,collection_name:str=None):
        self.path=datafile

        if self.path.endswith('.csv'):
            data=pd.read_csv(self.path,encoding='utf-8')

        elif self.path.endswith('.xlsx'):
            data=pd.read_excel(self.path,encoding='utf-8')
            
        datajson=json.loads(data.to_json(orient='record'))
        collection=self.create_collection()
        collection.insert_many(datajson)

In [29]:
client_url = "mongodb+srv://suyash:suyash2004@cluster0.utc18.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0"
database = "mynewdatabase"
collection_name = "myoldcolumn"

In [30]:

mongo=mongodb_operation(client_url,database,collection_name)

In [31]:
mongo.insert_record({"name":"sunny","designation":"data scientist","salary":"10k"},collection_name)

In [32]:
mongo.insert_record([{"name":"sunny","designation":"data scientist","salary":"10k"},
{"name":"sudhanshu","designation":"sr. data scientist","salary":"150k"},
{"name":"krish","designation":"lead data scientist","salary":"70k"}
],collection_name)